.geomap-widget-wrapper {
  display: flex;
}

.geomap-widget-wrapper > div {
  flex: 1;
}

.geomap-widget-fields-wrapper {
  padding-right: 1.5em;
}

.geomap-widget-fields-wrapper input[type="text"] {
  width: 100%;
}

.geomap-widget-map-wrapper {
  position: relative;
  z-index: 1;
}

.geomap-widget-map {
  width: 100%;
  height: 100%;
}

.geolocation-suggestions-list {
  position: absolute;
  z-index: 1000;
  bottom: 11px;
  left: 11px;
  margin: 0;
  padding: 0;
}

.geolocation-suggestions-list-item {
  list-style: none;
}

.geolocation-suggestions-list-item button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border: none;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.geolocation-suggestions-list-item button::after {
  padding-left: 8px;
  content: url(../images/baseline-reply-24px.svg);
}

.geolocation-suggestions-list-item button:hover {
  background-color: #f4f4f4;
}

.geomap-loader {
  position: absolute;
  z-index: 1000;
  top: 16px;
  right: 16px;
  width: 42px;
  height: 42px;
  animation: geomap-loader-spin 1s linear infinite;
  border: 8px solid transparent;
  border-top: 8px solid #1f86c7;
  border-radius: 50%;
}

.geomap-loader[aria-hidden="true"] {
  display: none;
}

@keyframes geomap-loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
